body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(skyblue, greenyellow);
    color: #ffffff;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#bff-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid green;
    margin-bottom: 10px;
}

#bday-age {
    background: green;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: green;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 400px;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("https://i.pinimg.com/originals/e9/0c/b2/e90cb24349d868f9449d5b7ff0a0ccb8.gif");
}

#gift-img-hot:hover {
    background-image: url("https://media.tenor.com/rCY3koHdiTwAAAAC/ok-hand-pepe.gif");
}

#gift-img-genius:hover {
    background-image: url("https://openseauserdata.com/files/404b572aba61cab8f62d77786f341993.jpg");
}

#gift-img-badass:hover {
    background-image: url("https://media.tenor.com/qOI3iBvktYcAAAAd/giga-chad.gif");
}

#gift-img-cheers:hover {
    background-image: url("https://image.fmkorea.com/files/attach/new2/20210329/3674493/2235710848/3487623070/99b983892094b5c6d2fc3736e15da7d1.jpg");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: white;
}

/* 
Add the footer paragraph according to the design. 
Configure the anchor tag to open the link in a new tab.
Forgotten how to do it? Google it! 

Link: 
https://scrimba.com/learn/htmlandcss

Text:
Want to create your own Birthday GIFt site? Take this HTML & CSS course.
*/